.hero {
  position: relative;
  background: #7eabd4;
  color: #fff;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 852px;

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    &::before {
      display: none;
      // padding-top: cp(790, 1280);
    }

    img {
      object-fit: cover;
    }
  }

  &__content {
    padding-bottom: 56px;

    @include media-breakpoint-up(md) {
      height: 790px;
      padding: 0;
    }
  }

  &__content-inner {
    width: 100%;
    margin-top: 540px;

    @include media-breakpoint-up(md) {
      margin-top: 140px;
    }
  }

  &__title {
    font-size: 38px;
    font-family: $font-secondary;
    line-height: 1.27;
    font-weight: $fw-bold;
    margin-bottom: 28px;

    @include media-breakpoint-up(md) {
      font-size: 44px;
    }

    [data-aos='hero-content-animation'] & {
      opacity: 0;
      transition: all 1s ease 0.3s;
    }

    [data-aos='hero-content-animation'].aos-animate & {
      opacity: 1;
    }
  }

  &__descr {
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 1.5;
    font-weight: $fw-semibold;

    [data-aos='hero-content-animation'] & {
      opacity: 0;
      transform: translateY(10px);
      transition: all 1s ease 0.5s;
    }

    [data-aos='hero-content-animation'].aos-animate & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__btn-wrap {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }

    [data-aos='hero-content-animation'] & {
      opacity: 0;
      transform: translateY(10px);
      transition: all 1s ease 0.7s;
    }

    [data-aos='hero-content-animation'].aos-animate & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
