.responsive-media {
  display: block;
  position: relative;
  background-position: center;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: percentage(1 / 1);
  }

  >picture {
    background-position: center;
  }

  >video,
  >picture,
  >picture>img,
  >img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
